.header {
  font-size: 2rem !important;
  font-weight: 700;
}
.site-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding-left: 1rem;
}

.site-title:hover {
  color: #000;
}
